* {
  box-sizing: border-box;
  position: relative; }

body, html {
  padding: 0;
  margin: 0; }

body {
  background-color: #ffffcc;
  padding-bottom: 60px; }

.container {
  width: 100%;
  max-width: 1060px;
  padding: 0 10px;
  margin: auto; }

@media screen and (max-width: 980px) {
  .container {
    width: auto;
    min-width: 300px; } }
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px; }

h1, h2, h3, h4 {
  color: #45af8f;
  margin: 0; }

h1 {
  font-size: xx-large; }

h3 {
  font-size: large; }

a {
  color: blue;
  text-decoration: underline; }

a:hover {
  color: red; }

img {
  border-color: black; }

#tinymce {
  width: 640px; }
  #tinymce .wp-caption {
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: inherit;
    margin: 0; }

img.featured, img.border {
  border: 1px solid black; }

.frontpage {
  margin-top: 20px;
  display: block; }

#s {
  padding: 8px;
  width: 100%;
  border: none;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

#searchform {
  margin-bottom: 32px; }
  #searchform .screen-reader-text {
    display: none; }

#searchsubmit {
  margin-top: 4px;
  width: 100%;
  padding: 4px;
  border-radius: 2px;
  border: none;
  background-color: #45af8f;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px 0 -1px rgba(0, 0, 0, 0.2); }

body.single main header {
  display: flex; }
  body.single main header figure {
    width: 330px;
    min-width: 330px;
    padding: 0 15px;
    margin: 0; }
  body.single main header .titles {
    align-self: center; }
    body.single main header .titles .h2 {
      font-size: large; }
  @media screen and (max-width: 680px) {
    body.single main header {
      display: inherit; }
      body.single main header figure {
        width: 100%;
        padding: 0; }
        body.single main header figure img {
          max-width: 100%;
          height: inherit; }
      body.single main header .titles {
        margin: 2em 0 4em; } }
body.single main .content {
  display: flex; }
  body.single main .content .site-main {
    order: 2; }
  body.single main .content .site-extra {
    order: 1;
    width: 330px;
    min-width: 330px;
    padding: 0 15px; }
    body.single main .content .site-extra img {
      max-width: 100%;
      height: inherit; }
  @media screen and (max-width: 980px) {
    body.single main .content {
      display: inherit; }
      body.single main .content .site-main {
        order: 1; }
      body.single main .content .site-extra {
        order: 2;
        padding: 0;
        width: inherit;
        max-width: 330px;
        min-width: 100px; }
      body.single main .content img {
        max-width: 100%;
        height: inherit; } }
body.single #gallery img, body.single #galerie img {
  border: 1px solid black;
  clear: both; }

body.search .content-area,
body.category .content-area {
  width: 100%; }
  body.search .content-area .listing a,
  body.category .content-area .listing a {
    text-decoration: none; }
  body.search .content-area .listing header,
  body.category .content-area .listing header {
    min-height: 100px;
    margin: 16px 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: table;
    width: 100%; }
  body.search .content-area .listing .image,
  body.category .content-area .listing .image {
    width: 100px;
    align-self: center;
    display: table-cell;
    background-size: cover;
    background-position: 50% 0; }
  body.search .content-area .listing .content,
  body.category .content-area .listing .content {
    display: table-cell; }
    body.search .content-area .listing .content .spacer,
    body.category .content-area .listing .content .spacer {
      padding: 16px; }
    body.search .content-area .listing .content h1,
    body.category .content-area .listing .content h1 {
      font-size: x-large; }
    body.search .content-area .listing .content h2,
    body.category .content-area .listing .content h2 {
      font-size: medium; }
body.search .page-header,
body.category .page-header {
  margin-bottom: 15px; }
  body.search .page-header h1,
  body.category .page-header h1 {
    line-height: 100%; }
  body.search .page-header .parent,
  body.category .page-header .parent {
    margin-top: 5px; }
body.search li,
body.category li {
  margin: 4px 0; }
body.search aside,
body.category aside {
  padding-top: 6px; }
body.search .container,
body.category .container {
  display: flex; }

#masthead {
  margin-bottom: 32px; }
  #masthead h1 {
    background-color: #45af8f;
    color: #ffffcc;
    border-bottom: 2px solid #378a71;
    margin: 0;
    padding: 10px 0 22px;
    display: block;
    text-align: center;
    font-size: 80px;
    line-height: 1;
    font-family: Georgia, serif;
    font-weight: 400; }
    #masthead h1 a {
      color: #ffffcc;
      text-decoration: none; }
  #masthead #categories {
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto 0; }
    #masthead #categories li {
      list-style: none;
      display: inline;
      line-height: 18px;
      padding: 0 3px;
      white-space: nowrap;
      text-transform: lowercase; }
      #masthead #categories li::after {
        content: '|';
        padding-left: 8px; }
      #masthead #categories li.last::after {
        display: none; }
  #masthead .current-cat a {
    color: red; }

nav.main {
  background-color: #378a71;
  padding: 16px 0;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.1);
  color: white; }
  nav.main a {
    color: white;
    text-decoration: underline; }

.navigation.pagination {
  margin-top: 20px; }
  .navigation.pagination .screen-reader-text {
    display: none; }

aside {
  width: 330px;
  min-width: 330px;
  padding: 0 15px; }
  aside img {
    max-width: 100%;
    height: inherit; }

ul {
  margin: 0 0 0 14px;
  padding: 0; }

h1, .h1, h2, .h2 {
  color: #45af8f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

h1 {
  display: inline; }

header h1, header h2 {
  text-transform: lowercase; }

body.home .container {
  width: fit-content; }
body.home #body {
  margin-top: 2em; }
body.home main {
  display: flex; }
body.home aside {
  padding-left: 30px;
  width: 240px;
  min-width: 240px; }
  @media screen and (max-width: 980px) {
    body.home aside {
      display: none; } }
body.home header h2 {
  color: #333; }
body.home .overview {
  min-width: 680px; }
body.home .item {
  margin: 2em 3em 3em; }
  body.home .item p {
    max-width: 600px; }
body.home .align-right {
  float: right; }
@media screen and (max-width: 768px) {
  body.home .overview {
    min-width: inherit; }
  body.home .item {
    margin: 16px 0 3em;
    padding: 0 10px; }
    body.home .item img {
      max-width: 100%;
      height: inherit; } }

@media screen and (max-width: 980px) {
  p {
    line-height: 130%; } }
@media screen and (max-width: 620px) {
  #masthead h1 {
    font-size: 40px;
    padding: 10px 10px 16px; }

  h1 {
    font-size: 23px; }

  h2 {
    font-size: 17px; } }

/*# sourceMappingURL=index.css.map */
